* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color: #3F6DFF;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
 }

table {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

td{
	border: 1px solid black;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #3F6DFF;
	text-decoration: line-through;
}

.ajouter {
	text-align: center;
}

.describe {
	max-width: 845px;
}
